<!DOCTYPE HTML>
<html>
  <head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="style.css">
    <title>maeblog</title>
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.3.2/jquery.min.js"></script>
  </head>
  <body>
  <%# メイン %>
  <main>
    <div class="top_main_content">
      <%# 機能の説明 %>
        <div class="area_function">
          <div class="function_bottom_space"></div>
          <div class="body_home">
            <div class="app_function anime_up anime_op">
              <div class="function_name">TODO</div>
              <div class="function_description">テキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキス</div>
            </div>
            <div class="app_function  anime_up anime_op">
              <div class="function_name">CODE</div>
              <div class="function_description">テキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキス</div>
            </div>
            <div class="app_function  anime_up anime_op">
              <div class="function_name">DESIGN</div>
              <div class="function_description">テキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキス</div>
            </div>
            <div class="app_function  anime_up anime_op">
              <div class="function_name">LIFE</div>
              <div class="function_description">テキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキス</div>
            </div>
          </div>
        </div>
      <%# 機能の説明 %>
    </div>
  </main>
  <%# メイン %>
  </body>
</html>