<div class="main">
  <div class="blog_inner">
    <div class="header_bottom_content"></div>
    <div class="main_top">
      <% if user_signed_in? %>
        <%= link_to "新規投稿", new_blog_path, class: :new_blog_btn %>
      <% end %>
    </div>
  </div>

  <% if @codes.length != 0 %>
    <div class="card_wrapper">
        <%= render partial: 'code', collection: @codes %>
    </div>
  <% else %>
    <h2 class="blog_post_message">記事を投稿して、他のユーザにシェアしましょう！</h2>
    <%= image_tag 'blog_2.png', class: :blog_img %>
  <% end %>
</div>