<h1>Advices#show</h1>
<table>
  <tr>
    <th>Advice</th>
    <td><%= @advice.title %></td></tr>
  <tr>
    <th>Description</th>
    <td><%= @advice.description %></td>
  </tr>
</table>
<p><%= link_to '一覧に戻る', tasks_url %></p>