.lists_box{
    display: flex;
    margin:  3% 0.1%;
}

.all_box{
    width: 33%;
    background-color: rgb(245, 245, 245);
    padding: 0 1%;
    margin: 0 1%;
}

.all_box h1{
    text-align: center;
}

.all_box .fas{
    color: rgb(152, 214, 253);
}

.create_content{
    text-align: center;
}

.fa-plus-square{
    font-size: 30px;
    color: rgb(152, 214, 253);
}