<h1>Memos#show</h1>
<table>
  <tr>
    <th>Title</th>
    <td><%= @memo.title %></td></tr>
  <tr>
    <th>Description</th>
    <td><%= @memo.description %></td>
  </tr>
</table>
<p><%= link_to '一覧に戻る', tasks_url %></p>